<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="QuizMain" connectionString="data source=127.0.0.1;initial catalog=MTA_QUIZ_MAIN;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="CreateDB.Properties.Settings.MTA_QUIZConnectionString" connectionString="Data Source=127.0.0.1;Initial Catalog=EXON_SYSTEM;User ID=sa;Password=123" providerName="System.Data.SqlClient" />
    <add name="CreateDB.Properties.Settings.EXON_SYSTEMConnectionString" connectionString="Data Source=127.0.0.1;Initial Catalog=EXON_SYSTEM;User ID=sa;Password=123" providerName="System.Data.SqlClient" />
    <add name="Quiz" connectionString="data source=169.254.227.0;initial catalog=MTA_QUIZ;user id=mtauser;password=1234@mta;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Main" connectionString="data source=192.168.0.2;initial catalog=EXON_SYSTEM1;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="QuizMain1" connectionString="data source=127.0.0.1;initial catalog=MTA_QUIZ_1;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Quiz3" connectionString="data source=127.0.0.1;initial catalog=MTA_QUIZ_1;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Main1" connectionString="data source=127.0.0.1;initial catalog=EXON_SYSTEM2;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Main2" connectionString="data source=127.0.0.1;initial catalog=EXON_SYSTEM2;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Main3" connectionString="data source=.;initial catalog=ExonSystemDGNL;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Quiz1" connectionString="data source=.;initial catalog=MTAQuizDGNL;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="QuizStorage" connectionString="data source=.;initial catalog=MTAQuizStorage;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WinForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MetroFramework" publicKeyToken="5f91a84759bf584a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.0.0" newVersion="1.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>